{% extends 'base.html.twig' %}

{% block title %}Gift index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">Gift Index</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Prix</th>
                <th scope="col">Image</th>
                <th scope="col">Lien</th>
                <th scope="col">Associated list</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gift in gifts %}
                <tr>
                    <td>{{ gift.id }}</td>
                    <td>{{ gift.name }}</td>
                    <td>{{ gift.prix }}</td>
                    <td><img style="width: 40%;" src="{{ gift.image }}"></td>
                    <td><a href="{{ gift.lien }}">{{ gift.lien }}</a></td>
                    <td><a href="{{ path('app_list_type_show', {'id': gift.listId}) }}">List</a></td>
                    <td style="
    display: flex;
">
                        <a class="btn btn-info" href="{{ path('app_gift_show', {'id': gift.id}) }}">Show</a>
                        <a class="btn btn-warning" href="{{ path('app_gift_edit', {'id': gift.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
