{% extends 'base.html.twig' %}

{% block title %}Gift{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Gift</h1>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ gift.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ gift.name }}</td>
            </tr>
            <tr>
                <th scope="row">Prix</th>
                <td>{{ gift.prix }}</td>
            </tr>
            <tr>
                <th scope="row">Image</th>
                <td><img src="{{ gift.image }}" alt="Gift Image" class="img-fluid"></td>
            </tr>
            <tr>
                <th scope="row">Lien</th>
                <td>{{ gift.lien }}</td>
            </tr>
            <tr>
                <th scope="row">Associated list</th>
                <td><a href="{{ path('app_list_type_show', {'id': gift.listId}) }}" class="btn btn-primary">View List</a></td>
            </tr>
            </tbody>
        </table>


        {{ include('gift/_delete_form.html.twig') }}
    </div>
{% endblock %}
